/* @font-face {
    font-family: "Peyda-Bold";
    src: asset-url("./fonts/Peyda-Bold.eot") format("eot");
    src: asset-url('./fonts/Peyda-Bold.eot') format('embedded-opentype'),
        asset-url('./fonts/Peyda-Bold.woff2') format('woff2'),
        asset-url('./fonts/Peyda-Bold.woff') format('woff'),
        asset-url("./fonts/Peyda-Bold.ttf") format("truetype")
        asset-url('./fonts/Peyda-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  
  }
  @font-face {
    font-family: "IRANYekan-Light";
    src: asset-url('./fonts/IRANYekan-Light.eot') format("eot");
    src: asset-url('./fonts/IRANYekan-Light.eot') format('embedded-opentype'),
        asset-url('./fonts/IRANYekan-Light.woff2') format('woff2'),
        asset-url('./fonts/IRANYekan-Light.woff') format('woff'),
        asset-url("./fonts/IRANYekan-Light.ttf") format("truetype"),
        asset-url('./fonts/IRANYekan-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  
  }
  @font-face {
    font-family: "IRANYekan-Bold";
    src: asset-url('./fonts/IRANYekan-Bold.eot') format("eot");
    src: asset-url('./fonts/IRANYekan-Bold.eot') format('embedded-opentype'),
        asset-url('./fonts/IRANYekan-Bold.woff2') format('woff2'),
        asset-url('./fonts/IRANYekan-Bold.woff') format('woff'),
        asset-url("./fonts/IRANYekan-Bold..ttf") format("truetype")
        asset-url('./fonts/IRANYekan-Bold.svg') format('svg');
    font-weight: bold; */
    /* font-style: normal;
    font-display: swap;
  } */